@import url(/resources/bootstrap/css/bootstrap.min.css);

.card-calendar {
    max-width: 1240px;
}
.calendar .months-container .month-container {
    margin-bottom: 25px;
}

.calendar table.month th.month-title {
    background-color: var(--bs-secondary);
    padding: 12px;
    font-weight: 400;
}

.event-tooltip-content {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.event-status {
    font-weight: bold;
    margin-bottom: 5px;
}

.event-presentHours, .event-sickHours, .event-description {
    font-size: 0.9em;
    margin-bottom: 2px;
}