/* styles.css */

.card {
  border: 2px solid #ccc;
  border-radius: 5px;
}

.card-header {
  background-color: #f8f9fa;
}

.card-body, .card-footer {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  background-color: #f8f9fa;
  font-weight: bold;
  padding: 8px;
  padding-left: 2px;
  margin-top: 10px;
}

.weekday {
  text-align: start;
  padding: 0.5rem;
}

.weekday.text-muted {
  color: #868e96;
}

.months {
  display: flex;
  flex-wrap: wrap;
}

.month {
  min-width: 255px;
  flex-grow: 1;
  max-width: calc(100% / 5);
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10%;
}

/* Optional: Anpassungen für kleine Bildschirme */

@media (max-width: 665px) {
  .month {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 360px) {
  .card-body, .card-footer {
    padding: 0px;
  }
}

@media (min-width: 2175px) {
  .month {
    max-width: calc(100% /7);
  }
}

@media (min-width: 2459px) {
  .month {
    max-width: calc(100% /8);
  }
}

/* styles.css */

/* ... */

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.legend-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.legend-item {
  margin-right: 25px;
  margin-bottom: 5px;
  width: auto;
  display: flex;
  align-items: center;
}

.legend-item span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.present {
  background-color: #2ecc71;
}

.business-trip {
  background-color: #2ecc71;
  border: 4px solid #006400;
}

.absent {
  background-color: #ff0000;
}

.partial-absent {
  background-color: #ff0000;
  border: 4px solid #2ecc71;
}

.sick {
  background-color: #ff0000;
  border: 4px solid #3665ff;
}

.vacation {
  background-color: #3498db;
}

.vacation-requested {
  background-color: #3498db;
  border: 4px solid #ffee00;
}

.holiday {
  background-color: #3498db;
  border: 4px solid #000000;
}

/* ... */

